@import url('https://fonts.googleapis.com/css?family=Titan+One|Lobster|Luckiest+Guy');


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about {
    background-color: #687672;
    padding: 5% 0;
    opacity: 0.9;
    justify-content: center;
    color: #eee;
}
.about h1{
	    text-shadow: 1px 2px 1px white;
}

.header {
    color: whitesmoke;
    padding: 15% 0;
    background-image: url('https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-0.3.5&s=71d615c1443d687fe731f9bae14b89df&w=1000&q=80');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: -1;
    font-family: 'Lobster', sans-serif;
    font-size: 10px;
    text-align: center;
    text-shadow: 1px 2px 1px black;
}

.header h1 {
    color: whitesmoke;
}



h1 {
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
}



.jumbotron-fluid {
    color: black;
}

.justify-content-center {
    color: black;
    overflow: hidden;
    padding: 1em 0;
}

.img-fluid {
    width: 100%;

    margin: 1.66%;
}



.menu {

    padding: 2% 0;
    background-color: #ab3e16;
}

.menu h1{
	    text-shadow: 1px 2px 1px white;
}

.menu p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.input-field col s6 {
    color: black;
}

#navbarNav {
    opacity: 1;
}

@media (min-width: 768px) {
    .reservation {
        padding: 5% 0;
        color: black;
        background-color: #f8f3e6;
    }
}


.reservation h2 {
    color: gray;


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.service-section {
    padding-top: 10px;
}

.services {
    margin-bottom: 10px;
}

.Contact {
    background-image: url('https://images.unsplash.com/photo-1505236917042-e70d2d365d6e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=23560ee89a27dea6143220173aacd0e9&auto=format&fit=crop&w=500&q=60');
    background-position: center center;
    background-size: cover;

    padding: 3% 0;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: white;
    opacity: 0.9;
}

.Contact h1 {

    color: white;
    text-shadow: 1px 2px 1px black;
}

.services.icon {
    color: #00aeda;
    font-size: 50px;
    padding-left: 15px;
}

.Contact p {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    text-shadow: 1px 2px 1px black;
}

.footer {
    background-color: #874e4c;
    padding: 20px 0;
    color: whitesmoke;
}

#footer .social {
    margin: 20px 0 30px 0;
}

#footer .social ul li {
    display: inline-block;
    margin: 0 20px;
}

#footer .social i.fa {
    font-size: 26px;
    padding: 4px;
    color: #fff;
    transition: all 0.3s;
}

#footer .social i.fa:hover {
    color: #eee;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}




/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}




/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}


.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}