body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: auto;
	background-image: url('https://images.unsplash.com/photo-1506833345857-935a8275b07a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d87985046dd0bc1e9b738ecc4cc4985&w=1000&q=80');
}

.about {
	background-color: whitesmoke;
	padding: 5% 0;
	opacity: 0.9;
}

.header {
	color: whitesmoke;
	padding: 15% 0;
	background-image: url('https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-0.3.5&s=71d615c1443d687fe731f9bae14b89df&w=1000&q=80');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.9;
	z-index: -1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	-webkit-transition: all;
	transition: cubic-bezier(0.215, 0.610, 0.355, 1) 5s;
}

.header h1 {
	color: whitesmoke;
}

.header h1:hover {
	color: rgba(19, 184, 4, 0.507);
}

h1 {
	text-align: center;
	color: black;
	justify-content: center;
	align-items: center;
}

.jumbotron-fluid {
	color: black;
}

.justify-content-center {
	color: black;
	overflow: hidden;
	padding: 1em 0;
}

@media (min-width: 576px) {
	.menu {
		float: right;
		padding-left: 2em;
		transition: 0.5s ease-in;
		opacity: 1;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#navbarNav {
		opacity: 1;
	}
	.reservation {
		background-color: black;
	}
	.service-section {
		padding-top: 10px;
	}
	.services {
		margin-bottom: 10px;
	}
	.services-content {
		padding: 0 15px;
		margin-top: 30px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size: 22px;
		font-weight: 400;
	}
	.services .icon {
		color: #00aeda;
		font-size: 50px;
		padding-left: 15px;
	}
	#contact {
		background-color: whitesmoke;
	}
	#contact .section-title p {
		color: #777;
	}
	#contact form {
		padding: 0;
	}
	#contact h3 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 400;
		color: #555;
	}
	#contact .text-danger {
		color: #cc0033;
		text-align: left;
	}
	label {
		font-size: 12px;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		float: left;
	}
	#contact .form-control {
		display: block;
		width: 100%;
		padding: 6px 12px;
		font-size: 16px;
		line-height: 1.42857143;
		color: #444;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ddd;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
	#contact .form-control:focus {
		border-color: #999;
		outline: 0;
		-webkit-box-shadow: transparent;
		box-shadow: transparent;
	}
	.form-control::-webkit-input-placeholder {
		color: #777;
	}
	.form-control:-moz-placeholder {
		color: #777;
	}
	.form-control::-moz-placeholder {
		color: #777;
	}
	.form-control:-ms-input-placeholder {
		color: #777;
	}
	#contact .contact-item {
		margin: 20px 0 40px 0;
	}
	#contact .contact-item span {
		font-weight: 400;
		color: #aaa;
		text-transform: uppercase;
		margin-bottom: 6px;
		display: inline-block;
	}
	#contact .contact-item p {
		font-size: 16px;
	}
	.footer {
		background-color: grey;
		padding: 20px 0;
		color: whitesmoke;
	}
	#footer .social {
		margin: 20px 0 30px 0;
	}
	#footer .social ul li {
		display: inline-block;
		margin: 0 20px;
	}
	#footer .social i.fa {
		font-size: 26px;
		padding: 4px;
		color: #fff;
		transition: all 0.3s;
	}
	#footer .social i.fa:hover {
		color: #eee;
	}
