body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #fff;
}

.about {
	background-color:#687672;
	padding: 5% 0;
	opacity: 0.9;
	justify-content: center;
	color: #eee;
}

.header {
	color: whitesmoke;
	padding: 15% 0;
	background-image: url('https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-0.3.5&s=71d615c1443d687fe731f9bae14b89df&w=1000&q=80');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.9;
	z-index: -1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	text-align: center;

}

.header h1 {
	color: whitesmoke;
}

.header h1:hover {
	color: rgba(19, 184, 4, 0.507);
}

h1 {
	text-align: center;
	color: black;
	justify-content: center;
	align-items: center;
}

h1:hover {
	color: darkgrey;
}

.jumbotron-fluid {
	color: black;
}

.justify-content-center {
	color: black;
	overflow: hidden;
	padding: 1em 0;
}

.img-fluid {
	width: 100%;

	margin: 1.66%;
}
.Contact{
background-color: #00aeda;
padding: 2% 0;

}

.menu {

	padding: 2% 0;
	background-color: #f8f3e6;
}

.menu p {
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:black;
}
.input-field col s6{
	color: black;
}
#navbarNav {
	opacity: 1;
}

.reservation {
	padding: 5% 0;
	color: black;
	background-color: #f8f3e6;
}

.reservation h2:hover {
	color: gray;
	padding-bottom: 2%;
}

.service-section {
	padding-top: 10px;
}

.services {
	margin-bottom: 10px;
}

.services-content {
	padding: 0 15px;
	margin-top: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.services .icon {
	color: #00aeda;
	font-size: 50px;
	padding-left: 15px;
}

.staff p {
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:whitesmoke;
}

.footer {
	background-color: grey;
	padding: 20px 0;
	color: whitesmoke;
}

#footer .social {
	margin: 20px 0 30px 0;
}

#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}

#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #fff;
	transition: all 0.3s;
}

#footer .social i.fa:hover {
	color: #eee;
}